@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,500&display=swap');


:root{
  --font-family-barlow: 'Barlow', sans-serif;
  --font-family-open: 'Open Sans', sans-serif;
}
body {
  font-family: var(--font-family-open);
}

/* HTML: <div class="loader"></div> */

.spinner {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  padding: 1.1px;
  background: conic-gradient(#0000 10%,#474bff) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 15px),#000 calc(100% - 15px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spinner-d55elj 1s infinite steps(10);
}

@keyframes spinner-d55elj {
  to {
      transform: rotate(1turn);
  }
}

